.footer{

  background: #1a472a;
    position: fixed;
      width: 98%;
      height: 65px;
      padding:20px;
      bottom: 0px;    
      
}


.icon{
  color: #C0C0C0;
  font-family: 'Courier New', monospace;
}


.date{
   
      bottom: 0px; 
      color: #C0C0C0;  
      float: right;   
      position: relative;
      font-family: 'Courier New', monospace;
}