.rodape{

    background: black;
    position: fixed;
      width: 100%;
      height: 75px;
      padding:20px;
      bottom: 0px;  

}


.icon{
  color: rgb(127, 200, 255);
}


.date{
    position: fixed;;
      bottom: 0px; 
      color: rgb(127, 200, 255);
}