.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forms {
    width: 300px;
    padding: 20px;
    border: 1px solid  #1a472a;
    border-radius: 8px;
   
}

label {
    color:#1a472a
}

.titulo {
    font-family: 'Courier New', monospace;
    color: #1a472a; 
}