.titulo {
    font-size: 2rem;
    color: rgb(127, 200, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: black;
}


.menu{
    color: rgb(127, 200, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

