.titulo {
    font-size: 2rem;
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.subtitulo{
    font-size: 1rem;
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.menu{
    color: aquamarine;
    
}